@model IEnumerable<GestionRH.Models.Employe>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["MatriculeCree"] != null)
{
    <div class="alert alert-success">
        Employé créé avec le matricule : <strong>@TempData["MatriculeCree"]</strong>
    </div>
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailPro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEmbauche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poste)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEmbauche)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departement.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poste.Titre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
